In [1]:
2+2

4

In [2]:
2
2
2
2
+2

2
2
22

22

In [3]:
l=programming

NameError: name 'programming' is not defined

In [4]:
l=list("python programming")

In [5]:
len(l)

18

In [6]:
for x in l

SyntaxError: expected ':' (3564621856.py, line 1)

In [7]:
    for x in l:

SyntaxError: incomplete input (166059206.py, line 2)

In [8]:
for x in range(1,200):
    if x%2==0:
        print(x, "is even")
    else:
        print(x,"is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd
16 is even
17 is odd
18 is even
19 is odd
20 is even
21 is odd
22 is even
23 is odd
24 is even
25 is odd
26 is even
27 is odd
28 is even
29 is odd
30 is even
31 is odd
32 is even
33 is odd
34 is even
35 is odd
36 is even
37 is odd
38 is even
39 is odd
40 is even
41 is odd
42 is even
43 is odd
44 is even
45 is odd
46 is even
47 is odd
48 is even
49 is odd
50 is even
51 is odd
52 is even
53 is odd
54 is even
55 is odd
56 is even
57 is odd
58 is even
59 is odd
60 is even
61 is odd
62 is even
63 is odd
64 is even
65 is odd
66 is even
67 is odd
68 is even
69 is odd
70 is even
71 is odd
72 is even
73 is odd
74 is even
75 is odd
76 is even
77 is odd
78 is even
79 is odd
80 is even
81 is odd
82 is even
83 is odd
84 is even
85 is odd
86 is even
87 is odd
88 is even
89 is odd
90 is even
91 is odd
92 is even
93 is odd
94 is even
95 is odd
96 is even
97 is odd
98 is even
99 is odd
100 is even
101 is odd
102 is even
103 is odd
104 is even
105 is odd
106 is even
107 is odd
108 is even
109 is odd
110 is even
111 is odd
112 is even
113 is odd
114 is even
115 is odd
116 is even
117 is odd
118 is even
119 is odd
120 is even
121 is odd
122 is even
123 is odd
124 is even
125 is odd
126 is even
127 is odd
128 is even
129 is odd
130 is even
131 is odd
132 is even
133 is odd
134 is even
135 is odd
136 is even
137 is odd
138 is even
139 is odd
140 is even
141 is odd
142 is even
143 is odd
144 is even
145 is odd
146 is even
147 is odd
148 is even
149 is odd
150 is even
151 is odd
152 is even
153 is odd
154 is even
155 is odd
156 is even
157 is odd
158 is even
159 is odd
160 is even
161 is odd
162 is even
163 is odd
164 is even
165 is odd
166 is even
167 is odd
168 is even
169 is odd
170 is even
171 is odd
172 is even
173 is odd
174 is even
175 is odd
176 is even
177 is odd
178 is even
179 is odd
180 is even
181 is odd
182 is even
183 is odd
184 is even
185 is odd
186 is even
187 is odd
188 is even
189 is odd
190 is even
191 is odd
192 is even
193 is odd
194 is even
195 is odd
196 is even
197 is odd
198 is even
199 is odd

In [9]:
for x =10:
    if x%2==0:
        print(x, "is even")
    else:
        print(x,"is odd")

SyntaxError: invalid syntax (2872228398.py, line 1)

In [10]:
for x=10
    if x%2==0:
        print(x, "is even")
    else:
        print(x,"is odd")

SyntaxError: invalid syntax (1889031762.py, line 1)

In [11]:
l=[2,34,3,5,5]

In [12]:
for x in 1:
    if x%2==0:
        print(x, "is even")
    else:
        print(x,"is odd")

TypeError: 'int' object is not iterable

In [13]:
for x in 1:
    if x%2==0:
        print(x, "is even")
    else:
        print(x,"is odd")

TypeError: 'int' object is not iterable

In [14]:
l=[2,34,3,5,5]
for x in l:
    if x%2==0:
        print(x, "is even")
    else:
        print(x,"is odd")

2 is even
34 is even
3 is odd
5 is odd
5 is odd

In [15]:
age = 26
if age <= 20:
print("Age is < or = 20")
elif age>20 and age<=30:
print("Age is > 20 and <= 30")
else:
if age > 30:
print("Age is > 30")
else:
print("My Condition above didn't Matches")

IndentationError: expected an indented block after 'if' statement on line 2 (2673258208.py, line 3)

In [16]:
i=10
 if i <= 10:
        print("number is

In [17]:
age = 26
if age <= 20:
print("Age is < or = 20")
elif age>20 and age<=30:
print("Age is > 20 and <= 30")
else:
if age > 30:
print("Age is > 30")
else:
print("My Condition above didn't Matches")

IndentationError: expected an indented block after 'if' statement on line 2 (2673258208.py, line 3)

In [18]:
age = 26
if age <= 20:
    print("Age is < or = 20")
elif age>20 and age<=30:
    print("Age is > 20 and <= 30")
else:
if age > 30:
    print("Age is > 30")
else:
    print("My Condition above didn't Matches")

IndentationError: expected an indented block after 'else' statement on line 6 (1723310861.py, line 7)

In [19]:
age = 26
if age <= 20:
    print("Age is < or = 20")
elif age>20 and age<=30:
    print("Age is > 20 and <= 30")
else:
    if age > 30:
    print("Age is > 30")
    else:
print("My Condition above didn't Matches")

IndentationError: expected an indented block after 'if' statement on line 7 (3452485808.py, line 8)

In [20]:
age = 26
if age <= 20:
    print("Age is < or = 20")
elif age>20 and age<=30:
    print("Age is > 20 and <= 30")
else:
if age > 30:
    print("Age is > 30")
else:
print("My Condition above didn't Matches")

IndentationError: expected an indented block after 'else' statement on line 6 (1986301064.py, line 7)

In [23]:
age = 13
if age <= 20:
    print("Age is < or = 20")
elif age>20 and age<=30:
    print("Age is > 20 and <= 30")
else:
    if age > 30:
        print("Age is > 30")
    else:
        print("My Condition above didn't Matches")

Age is < or = 20

In [29]:
###hihihi

In [27]:
print(" Range range(startfrom,stopat,interval)")
for num in range(1,22,2):
    print("Range : ",num)

 Range range(startfrom,stopat,interval)
Range :  1
Range :  3
Range :  5
Range :  7
Range :  9
Range :  11
Range :  13
Range :  15
Range :  17
Range :  19
Range :  21

#hhiihhih

In [30]:
2+2

4

####fff

In [31]:
input pandas

SyntaxError: invalid syntax (3540650986.py, line 1)

In [32]:
import pandas

In [37]:
import pandas as pd