In [1]:
import pandas as pd

In [2]:
import numpy as np

In [5]:
import matplotlib.pyplot as plt

In [4]:
data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
        'team': ['Bears', 'Bears', 'Bears', 'Packers', 'Packers', 'Lions', 'Lions', 'Lions'],
        'wins': [11, 8, 10, 15, 11, 6, 10, 4],
        'losses': [5, 8, 6, 1, 5, 10, 6, 12]}

In [6]:
data

{'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
 'team': ['Bears',
  'Bears',
  'Bears',
  'Packers',
  'Packers',
  'Lions',
  'Lions',
  'Lions'],
 'wins': [11, 8, 10, 15, 11, 6, 10, 4],
 'losses': [5, 8, 6, 1, 5, 10, 6, 12]}

In [9]:
{'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
 'team': ['Bears',
  'Bears',
  'Bears',
  'Packers',
  'Packers',
  'Lions',
  'Lions',
  'Lions'],
 'wins': [11, 8, 10, 15, 11, 6, 10, 4],
 'losses': [5, 8, 6, 1, 5, 10, 6, 12]}

{'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
 'team': ['Bears',
  'Bears',
  'Bears',
  'Packers',
  'Packers',
  'Lions',
  'Lions',
  'Lions'],
 'wins': [11, 8, 10, 15, 11, 6, 10, 4],
 'losses': [5, 8, 6, 1, 5, 10, 6, 12]}

In [17]:
football = pd.DataFrame(data, columns=['year', 'team', 'wins', 'losses'])

In [18]:
football

   year     team  wins  losses
0  2010    Bears    11       5
1  2011    Bears     8       8
2  2012    Bears    10       6
3  2011  Packers    15       1
4  2012  Packers    11       5
5  2010    Lions     6      10
6  2011    Lions    10       6
7  2012    Lions     4      12

In [11]:
football['year']

0    2010
1    2011
2    2012
3    2011
4    2012
5    2010
6    2011
7    2012
Name: year, dtype: int64

In [12]:
football['wins']

0    11
1     8
2    10
3    15
4    11
5     6
6    10
7     4
Name: wins, dtype: int64

In [14]:
football[football['year']<2011]

   year   team  wins  losses
0  2010  Bears    11       5
5  2010  Lions     6      10

In [15]:
football

   year     team  wins  losses
0  2010    Bears    11       5
1  2011    Bears     8       8
2  2012    Bears    10       6
3  2011  Packers    15       1
4  2012  Packers    11       5
5  2010    Lions     6      10
6  2011    Lions    10       6
7  2012    Lions     4      12

In [22]:
football[football['wins']>10]

   year     team  wins  losses
0  2010    Bears    11       5
3  2011  Packers    15       1
4  2012  Packers    11       5

In [24]:
football[football["year"]>=2010]

   year     team  wins  losses
0  2010    Bears    11       5
1  2011    Bears     8       8
2  2012    Bears    10       6
3  2011  Packers    15       1
4  2012  Packers    11       5
5  2010    Lions     6      10
6  2011    Lions    10       6
7  2012    Lions     4      12

In [25]:
football[football["year"]<=2010]

   year   team  wins  losses
0  2010  Bears    11       5
5  2010  Lions     6      10

In [28]:
football[football[year']>=2010] & [football['wins']>10]

SyntaxError: unterminated string literal (detected at line 1) (3610530303.py, line 1)

In [ ]:
fifa[fifa['titles']]